<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="root-menu" label="MENU">
<item label="Tor" icon="/usr/share/icons/hicolor/48x48/apps/chromium.png"><action name="Execute"><command>/config/tor-browser/tor-browser/Browser/start-tor-browser</command></action></item>
</menu>
</openbox_menu>