{% load allauth socialaccount %}
{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
  {% if provider.id == "openid" %}
    {% for brand in provider.get_brands %}
      {% provider_login_url provider openid=brand.openid_url process=process as href %}
      <a class="provider-btn" href="{{ href }}">
        Continue with {{ brand.name }}
      </a>
    {% endfor %}
  {% else %}
    {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
    <a class="provider-btn" href="{{ href }}">
      Continue with {{ provider.name }}
    </a>
  {% endif %}
{% endfor %}
